<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CDN Links for echarts and font-awesome icons -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.3/dist/echarts.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Font-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300|Montserrat" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>TSP Main Page</title>
</head>
<body>
    <div class="header">
        <a href="/index"><img class="logo" src="/static/images/FrontPage_TSP3.png"></a>
        <div class="search-container">
            <form>
              <input type="text" id="search" placeholder="Search...">
              <i class="fa fa-search"></i>
            </form>
        </div>
        <div class="header-right">
          <a class="active" href="/index">Home</a>
          <a href="/about">About</a>
        </div>
        <div class="burger-nav">
            <i class="fa fa-bars bar" onclick="burgerMenu();" id="bars"></i>
           <div class="burger-links" id="myDropdown" style="display: none">
            <a href="/index" id="HomeLnk" onclick="toggleMenu(this.id)">Home</a>
            <a href="/about" id="AboutWeb" onclick="toggleMenu(this.id)">About</a>
           </div>
        </div>
    </div>
    <br><br><br>
    <ul id="list">
        {% for i in range (0, 20) %}
        <div>
            <li class="list_item" onclick="location.href='./rates/{{providers[i]}}'">
                <h5>
                <a class="Store_Info" href="./rates/{{providers[i]}}" type="{{ providers[i] }}">{{ providers[i] }}</a>
                </h5>
                <p>Best Cashback Rate: {{ rates[i] }}</p>
            </li>
        </div>
        {% endfor %}
    </ul>
    <div id="NoItemMsg">
        <h3>No such store exists. Please enter something else.</h3>
    </div>
    <h2 class="align-items-center justify-content-center Viewed_Stores_Title">Most Viewed Stores</h2>
    <div class="container Store_Container">
        {% for i in range(0, 20, 4) %}
        <div class="StoreRates_Row row py-5">
            <div class="StoreRates_Panel" onclick="location.href='./rates/{{providers[i]}}'">
                <h5>
                <a class="Store_Info" href="./rates/{{providers[i]}}" type="{{ providers[i] }}">{{ providers[i] }}</a>
                </h5>
                <p>Best Cashback Rate: {{ rates[i] }}</p>
            </div>
            <div class="StoreRates_Panel" onclick="location.href='./rates/{{providers[i + 1]}}'">
                <h5>
                <a class="Store_Info" href="./rates/{{providers[i + 1]}}" type="{{ providers[i + 1] }}">{{ providers[i + 1] }}</a>
                </h5>
                <p>Best Cashback Rate: {{ rates[i + 1] }}</p>
            </div>
            <div class="StoreRates_Panel" onclick="location.href='./rates/{{providers[i + 2]}}'">
                <h5>
                <a class="Store_Info" href="./rates/{{providers[i + 2]}}" type="{{ providers[i + 2] }}">{{ providers[i + 2] }}</a>
                </h5>
                <p>Best Cashback Rate: {{ rates[i + 2] }}</p>
            </div>
            <div class="StoreRates_Panel" onclick="location.href='./rates/{{providers[i + 3]}}'">
                <h5>
                <a class="Store_Info" href="./rates/{{providers[i + 3]}}" type="{{ providers[i + 3] }}">{{ providers[i + 3] }}</a>
                </h5>
                <p>Best Cashback Rate: {{ rates[i + 3] }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    <script src="../static/js/script.js"></script>
    <script src="../static/js/mainSearch.js"></script>
</body>
</html>